@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    background: imgUrl("header.jpg") center top;
    background-size: cover;

    .navbar {
        .btn {
            padding-left: 31px;
            padding-right: 31px;
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-size: 1.125rem;
                    color: #131518;
                    font-weight: 600;
                    padding: 8px 20px;
                }
            }
        }
    }

    .banner {
        position: relative;

        .banner-container {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }
    }

    .banner-poster {
        padding: 77px 0 96px;
    }
}

section.about-us {
    background: imgUrl('grass.png') center top;
    background-size: cover;
    margin: -8px 0 -14px;
    position: relative;

    .about-us-inner {
        background: imgUrl("about-us.png") center top;
        background-size: cover;

        .why-us {
            padding: 169px 0;
            background: imgUrl("why-us.png") left center;

            .description {
                padding-top: 60px;
                font-weight: 600;
                font-size: 1.25rem;

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                }
            }
        }

        .pool-types {
            .pool-type-card {
                border: 2px solid $white;
                border-radius: 20px;
                padding: 46px 41px;
                color: $white;
                text-align: center;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .description {
                    font-weight: 600;
                    font-size: 1.25rem;
                    padding: 60px 0;

                    @include media-breakpoint-down(sm) {
                        font-size: 0.875rem;
                    }
                }
            }
        }

        .stress-free-process {
            padding: 154px 0 205px;
        }
    }
}

section.deck {
    background: imgUrl('deck.png') center;
    background-size: cover;

    .processes {
        background: imgUrl('wooden-bench.png') center;
        background-size: contain;

        .card {
            background: rgba(79, 79, 79, 0.1);
            border-radius: 20px;
            padding: 40px 18px;
            text-align: center;
            height: 100%;

            .cushion {
                position: absolute;
                top: -12.5rem;
            }

            .title {
                font-weight: 600;
                color: $white;
                text-transform: capitalize;
                font-size: 1.25rem;

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }
            }

            .description {
                color: #B0B0B0;
                padding-top: 20px;
                font-size: 1.125rem;

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                }
            }
        }
    }

    .faq {
        background: imgUrl("chairs.png") center bottom;
        background-size: contain;
        padding: 154px 0 171px;

        .faq-card {
            border: 2px solid $white;
            border-radius: 10px;
            color: $white;
            text-align: center;
            padding: 30px 24px;
            position: relative;

            .title {
                font-size: 1.25rem;
                font-weight: 600;

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }
            }

            .description {
                font-size: 1.125rem;
                padding-top: 30px;

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                }
            }

            .faq-img {
                position: absolute;

                &.faq-img-1 {
                    bottom: -4rem;
                    left: -1rem;
                }

                &.faq-img-2 {
                    top: -4rem;
                    left: -1rem;
                }

                &.faq-img-3 {
                    bottom: -6rem;
                    right: -0.5rem;
                }

                &.faq-img-4 {
                    top: -5rem;
                    right: -1rem;
                }
            }
        }
    }
}

section.form {
    background: imgUrl("form.png") center top;
    padding: 216px 0 139px;
    background-size: cover;
    margin-top: -1rem;
    position: relative;

    .form-card {
        background: linear-gradient(180deg, #00CBD8 0%, #00A9D8 100%);
        box-shadow: -8px -8px 28px rgba(0, 0, 0, 0.14);
        border-radius: 20px;
        padding: 55px;
        color: $white;

        form {
            padding-top: 60px;

            label {
                font-size: 1rem;
                letter-spacing: -0.01em;
                font-weight: 500;
                padding-bottom: 8px;
            }

            input,
            select {
                border: 0;
                border-bottom: 1px solid $white;
                background: transparent;
                border-radius: 0;
                opacity: 0.6;
                padding: 0 0 15px 0;
                color: $white;
                font-size: 1.125rem;
                font-weight: 600;
                letter-spacing: -0.01em;
                line-height: 1;

                &::placeholder {
                    color: $white;
                    font-weight: 400;
                    font-size: 1.125rem;
                }

                &:focus {
                    box-shadow: none;
                    opacity: 1;
                    outline: none;
                }
            }

            select {
                font-weight: 400;

                option {
                    background-color:  $primary;
                    color: $white;
                }
            }
        }
    }
}

section.gallery {
    background-color: $dark;
    padding: 79px 0;

    .gallery-slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            margin: 0 19px;

            img {
                height: 100%;
                width: 100%;
                border-radius: 10px;
            }
        }

        .slick-prev {
            left: 52px;
        }

        .slick-next {
            right: 50px;
        }

        .slick-arrow {
            z-index: 100;
            height: 30px;
            width: 30px;
        }
    }
}

footer {
    font-size: 0.875rem;
    color: $light;
    background-color: $dark;

    @include media-breakpoint-down(sm) {
        font-size: 0.61rem;
    }
}