@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    background: imgUrl("header.jpg") center top;
    background-size: cover;

    .navbar {
        transition: 0.1s all ease-in-out;

        .btn {
            padding-left: 31px;
            padding-right: 31px;

            @include media-breakpoint-down(xl) {
                display: inline-flex;
            }
        }

        .navbar-toggler {
            border: 0;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        @include media-breakpoint-down(xl) {
            .navbar-collapse {
                background: $white;
                padding: 34px 48px;
                text-align: center;
            }
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-size: 1.125rem;
                    color: #131518;
                    font-weight: 600;
                    padding: 8px 20px;
                }
            }
        }
    }

    .banner {
        position: relative;
        padding-top: 121px;

        .banner-container {
            color: $white;
            padding-top: 0;
            position: absolute;
            top: 0;
            margin-top: 260px;

            @include media-breakpoint-up(md) {
                margin-top: 54px;
                height: 100%;
                width: 100%;
                left: 0;
            }

            @include media-breakpoint-down(sm) {
                .btn-2 {
                    border-color: $primary  !important;
                    color: $primary  !important;
                }
            }
        }
    }

    .banner-poster {
        padding: 64px 0;

        @include media-breakpoint-up(md) {
            padding: 77px 0 96px;
        }
    }
}

section.about-us {
    background: imgUrl('grass-sm.png') center top;
    background-size: cover;
    margin: -4px 0 0;
    position: relative;

    @include media-breakpoint-up(md) {
        margin: -8px 0 0;
        background: imgUrl('grass.png') center top;
    }

    .about-us-inner {
        background: imgUrl("about-us.png") center top;
        background-size: cover;

        .why-us {
            .why-us-pool-sm {
                margin-top: -10px;
            }

            @include media-breakpoint-up(md) {
                padding: 80px 0 34px;
            }

            @include media-breakpoint-up(lg) {
                padding: 169px 0 34px;
            }

            @include media-breakpoint-up(xl) {
                padding: 169px 0;
                background: imgUrl("why-us.png") left center;
            }

            .description {
                padding-top: 60px;
                font-weight: 600;
                font-size: 1.25rem;

                @include media-breakpoint-down(sm) {
                    padding-top: 24px;
                    font-size: 0.875rem;
                }
            }
        }

        .pool-types-tab-wrapper {
            border: 2px solid $white;
            border-radius: 20px;
            padding: 40px 20px;
            color: $white;

            .nav {
                .nav-item {
                    padding: 0 7px;

                    .nav-link {
                        height: 66px;
                        background-color: $light;
                        color: $dark;
                        font-weight: 600;
                        border-radius: 10px;

                        &.active {
                            background-color: $primary;
                            color: $white;
                        }
                    }
                }
            }

            .heading {
                font-size: 3rem;
                font-weight: 600;
                line-height: 1;
            }

            .description {
                padding: 40px 0 60px;
            }
        }

        .pool-types {
            .pool-type-card {
                border: 2px solid $white;
                border-radius: 20px;
                color: $white;
                text-align: center;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                transition: 0.2s all ease-in-out;
                padding: 24px 16px;

                @include media-breakpoint-up(lg) {
                    padding: 46px 16px;
                }

                @include media-breakpoint-up(xl) {
                    padding: 46px 41px;
                }

                .description {
                    font-weight: 600;
                    font-size: 1.25rem;
                    padding: 60px 0;

                    @include media-breakpoint-down(lg) {
                        padding: 34px 0;
                    }

                    @include media-breakpoint-down(sm) {
                        font-size: 0.875rem;
                    }
                }

                &:hover {
                    background: $primary;
                    border-color: $primary;
                    transform: scale(1.03);

                    .btn {
                        background: $white;
                        color: $primary  !important;
                    }
                }
            }
        }

        .stress-free-process {
            padding: 80px 0 115px;

            @include media-breakpoint-up(md) {
                padding: 80px 0;
            }

            @include media-breakpoint-up(xl) {
                padding: 154px 0 205px;
            }

            @include media-breakpoint-down(sm) {
                .heading {
                    font-size: 3rem !important;
                }
            }
        }
    }
}

section.deck {
    background: imgUrl('deck.png') center;
    background-size: cover;

    .processes {
        background: imgUrl('wooden-bench-sm.png') right center;
        background-size: contain;

        @include media-breakpoint-up(md) {
            background: imgUrl('wooden-bench.png') center;
            background-size: contain;
        }

        .slick-list {
            margin-top: -12rem;
        }

        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            margin-left: 8px;
            margin-right: 8px;

            @include media-breakpoint-down(sm) {
                margin-left: 20px;
                margin-right: 20px;
            }
        }

        .slick-next {
            right: 10px;
        }

        .slick-arrow {
            z-index: 100;
            height: 30px;
            width: 30px;
        }

        .card {
            background: rgba(79, 79, 79, 0.1);
            border-radius: 20px;
            text-align: center;
            transition: 0.2s all ease-in-out;
            padding: 60px 18px 40px;
            margin-top: 12.5rem;

            @include media-breakpoint-up(lg) {
                padding: 40px 18px;
            }

            &:hover {
                background: $primary;

                .description {
                    color: $white;
                }
            }

            .cushion {
                position: absolute;
                top: -12.5rem;
            }

            .title {
                font-weight: 600;
                color: $white;
                text-transform: capitalize;
                font-size: 1.25rem;
            }

            .description {
                color: #B0B0B0;
                padding-top: 20px;
                font-size: 1.125rem;

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }
            }
        }
    }

    .faq {
        background: imgUrl("chairs.png") center bottom;
        background-size: contain;
        padding: 80px 0;

        @include media-breakpoint-up(lg) {
            padding: 154px 0 171px;
        }

        .faq-slider {
            .slick-list {
                margin-top: -48px;
                margin-bottom: -96px;
            }

            .slick-slide {
                margin-left: 8px;
                margin-right: 8px;
            }

            .faq-card {
                border: 2px solid $white;
                border-radius: 10px;
                color: $white;
                text-align: center;
                position: relative;
                transition: 0.2s all ease-in-out;
                padding: 30px 24px;

                @include media-breakpoint-down(sm) {
                    padding: 50px 16px;
                }

                &:hover {
                    background: $primary;
                    border-color: $primary;
                }

                .title {
                    font-size: 1.25rem;
                    font-weight: 600;
                }

                .description {
                    font-size: 1.125rem;
                    padding-top: 30px;

                    @include media-breakpoint-down(sm) {
                        font-size: 1rem;
                    }
                }

                .faq-img {
                    position: absolute;

                    &.faq-img-1 {
                        bottom: -6rem;
                        left: -1rem;
                        z-index: 100;
                    }

                    &.faq-img-2 {
                        top: -6rem;
                        left: -1rem;

                        @include media-breakpoint-up(md) {
                            top: -4rem;
                        }
                    }

                    &.faq-img-3 {
                        bottom: -7rem;
                        right: -0.5rem;
                        z-index: 100;

                        @include media-breakpoint-up(md) {
                            bottom: -6rem;
                        }
                    }

                    &.faq-img-4 {
                        top: -5rem;
                        z-index: 100;
                        right: -1rem;
                    }
                }
            }
        }
    }
}

section.form {
    background: imgUrl("form-sm.png") center top;
    background-size: cover;
    margin-top: -1rem;
    position: relative;
    padding: 80px 0;

    @include media-breakpoint-up(md) {
        background: imgUrl("form.png") center top;
        background-size: cover;
    }

    @include media-breakpoint-up(lg) {
        padding: 216px 0 139px;
    }

    .form-card {
        background: linear-gradient(180deg, $secondary 0%, $primary 100%);
        box-shadow: -8px -8px 28px rgba(0, 0, 0, 0.14);
        border-radius: 20px;
        color: $white;
        padding: 24px;

        @include media-breakpoint-up(md) {
            padding: 55px 24px;
        }

        @include media-breakpoint-up(lg) {
            padding: 55px;
        }

        form {
            padding-top: 34px;

            @include media-breakpoint-up(md) {
                padding-top: 60px;
            }

            label {
                font-size: 1rem;
                letter-spacing: -0.01em;
                font-weight: 500;
                padding-bottom: 8px;
            }

            input,
            select {
                border: 0;
                border-bottom: 1px solid $white;
                background: transparent;
                border-radius: 0;
                opacity: 0.6;
                padding: 0 0 15px 0;
                color: $white;
                font-size: 1.125rem;
                font-weight: 600;
                letter-spacing: -0.01em;
                line-height: 1;

                &::placeholder {
                    color: $white;
                    font-weight: 400;
                    font-size: 1.125rem;
                }

                &:focus {
                    box-shadow: none;
                    opacity: 1;
                    outline: none;
                }
            }

            select {
                font-weight: 400;

                option {
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }

    .llyods_building_btn {
        text-align: center;
        letter-spacing: -0.01em;
        color: $dark;
        text-decoration: none;
    }
}

section.gallery {
    background-color: $dark;
    padding: 38px 0;

    @include media-breakpoint-up(md) {
        padding: 79px 0;
    }

    .gallery-slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            margin: 0 8px;

            @include media-breakpoint-up(lg) {
                margin: 0 19px;
            }

            img {
                height: 100%;
                width: 100%;
                border-radius: 10px;
            }
        }

        .slick-prev {
            left: -4px;

            @include media-breakpoint-up(xl) {
                left: 52px;
            }
        }

        .slick-next {
            right: -4px;

            @include media-breakpoint-up(xl) {
                right: 50px;
            }
        }

        .slick-arrow {
            z-index: 100;
            height: 30px;
            width: 30px;
        }
    }
}

footer {
    font-size: 0.875rem;
    color: $light;
    background-color: $dark;
}